body{
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
  .container{
    max-width: 450px;
  }
  
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, .2);
  }
  
  li.list-group-item{
    background-color: #4BC0C8;
    color: #F8F9FA;
  }
  
  .delete{
    cursor: pointer;
  }
  
  label.add{
    margin-bottom: 15px;
  }
  
  .filtred{
    display: none !important;
  }

  .todos{
    max-height: 60vh;
    overflow-y: scroll;
  }